<nav class="navbar navbar-expand navbar-dark bg-dark" aria-label="Second navbar example">
  <div class="container-fluid">
    <a class="navbar-brand px-5 py-3" href="#">
      <img src="https://www.noas.com.br/jogos/jogo-da-memoria/img/titulo.png" alt="" width="110px">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample02"
      aria-controls="navbarsExample02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</nav>

<div class="p-16 container" >
  <p class="text-center row"> Clique na carta para virar. Você pode virar somente duas. Sendo as duas cartas iguais elas somem.</p>
  <div class="d-flex justify-content-between flex-wrap">
    <app-carta *ngFor="let carta of cartas; let idx=index" [carta]="carta" (cartaClicada)="cartaClicada(idx)"class="carta" ></app-carta>
  </div>
</div>
<!-- <mat-slider min="1" max="100" step="1" value="50"></mat-slider> -->
